{% extends 'landingbase.html' %}
{% load static %}

        {% block content %}
        <!--================Home Banner Area =================-->
        <section class="home_banner_area blog_banner">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="blog_b_text text-center">
						<h2>Política de privacidad</h2>
						<p>En Inverdana entendemos que tu información es muy importante por la que te damos a conocer nuestra política de privacidad para que puedas consultarla y poder enterarte de el trato que le damos a tu información.</p>
						<a class="white_bg_btn" href="#politica">Ver más</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        

        <!--================Blog Area =================-->
        <section class="blog_area" id="politica">
            <div class="container">
                <br/><br/>
                <h1>Política de privacidad</h1><p>
Su privacidad es importante para nosotros. Es política de Inverdana A.C. respetar su privacidad acerca de cualquier información que guardemos de usted en nuestro sitio web, http://www.inverdana.org, nuestra aplicación móvil Inverdana, y cualquier otro sitio que operemos.<br/><br/>
Sólo le pediremos su información personal cuando realmente la necesitemos para proveer un servicio para usted. La guardamos de manera legal, con su conocimiento y consentimiento. También le hacemos saber por qué la estamos utilizando y en qué va a ser utilizada.<br/><br/>
Sólo retendremos su información por tan largo como sea necesario para poder proveerle con su servicio solicitado. Los datos que almacenemos, los protegeremos dentro de lo aceptable comercialmente para prevenir pérdida y robo, así como acceso no autorizado, copia, uso o modificación.<br/><br/>
No compartimos ninguna información de identificación personal públicamente ni a terceros, excepto cuando requeridos por la ley.<br/><br/>
Nuestro sitio web podría tener enlaces a sitios externos no operados por nosotros. Por favor sea consciente que no tenemos ningún no control sobre el contenido y las prácticas de estos sitios, y no podemos aceptar responsabilidad por sus respectivas políticas de privacidad.<br/><br/>
Usted es libre de rechazar nuestra petición de su información personal, con el entendimiento que podríamos vernos incapaces de proveerle con algunos de los servicios que requiera.<br/><br/>
Su uso continuo del sitio y la aplicación será considerado como aceptación de nuestras prácticas sobre privacidad e información personal. Si tiene alguna pregunta sobre cómo hacemos uso de datos de usuario e información personal, por favor siéntase libre de contactarnos.<br/><br/>
Está política es efectiva desde el 27 de noviembre de 2019.<br/><br/>
     <h2>Términos de servicio</h2>
     <ol>
         <li>Términos</li>
            <p>Al acceder al sitio http://www.inverdana.org, o utilizar la aplicación móvil Inverdana, está aceptando atenderse a estos términos de servicio, todas las leyes aplicables y regulaciones, y acepta ser responsable de cumplir con cualquier ley local aplicable. Si no estuviera de acuerdo con cualquiera de estos términos, se le prohíbe el uso y acceso a este sitio y la aplicación móvil. Los materiales contenidos en el sitio web y la aplicación móvil están protegidos por la ley de derechos de autor y de marcas registradas aplicable.</p>
         <li>Licencia de uso</li>
            <ul>
                <li>El permiso otorgado para temporalmente descargar una copia de los materiales (información o software) en el sitio web de Inverdana A.C. es para uso personal, no comercial de vista transitoria únicamente. Este es el otorgamiento de una licencia, no la transferencia de un título, bajo esta licencia usted no podrá:</li>
                <ul>
                    <li>modificar o copiar los materiales;</li>
                    <li>usar los materiales para cualquier uso comercial, o para mostrarlo públicamente (comercial o no comercial);</li>
                    <li>tratar de decompilar o usar ingeniería inversa con cualquier software contenido en el sitio web o la aplicación móvil;</li>
                    <li>remover cualquier aviso de derechos de autor de los materiales; </li>
                    <li>transferir los materiales a otra persona o espejearlos en otro servidor.</li>
                </ul>
                <li>Esta licencia será automáticamente revocada si viola cualquiera de estas restricciones y puede ser terminada por Inverdana A.C. en cualquier punto. Al terminar de ver estos materiales o en la revocación de la licencia, deberá destruir cualquier material descargado en su posesión ya sea en formato electrónico o impreso.</li>
            </ul>
         <li>Aviso</li>
            <ul>
                <li>Los materiales en el sitio web de Inverdana A.C. se proporcionan "tal cual". Inverdana A.C. no ofrece garantías, expresas o implícitas, y por la presente renuncia y niega todas las demás garantías, incluidas, entre otras, las garantías implícitas o las condiciones de comerciabilidad, idoneidad para un propósito particular o la no infracción de la propiedad intelectual u otra violación de derechos.</li>
                <li>Además, Inverdana A.C.no garantiza ni hace ninguna representación con respecto a la precisión, los resultados probables o la confiabilidad del uso de los materiales en su sitio web o en relación con dichos materiales o en cualquier sitio vinculado a este sitio.</li>
            </ul>
         <li>Limitaciones</li>
            <p>En ningún caso Inverdana A.C. o sus proveedores serán responsables de ningún daño (incluidos, entre otros, daños por pérdida de datos o ganancias, o debido a la interrupción del negocio) que surjan del uso o la incapacidad de usar los materiales en el sitio web de Inverdana A.C. o la aplicación móvil, incluso si Inverdana A.C. o un representante autorizado de Inverdana A.C. ha sido notificado verbalmente o por escrito de la posibilidad de dicho daño. Debido a que algunas jurisdicciones no permiten limitaciones en garantías implícitas, o limitaciones de responsabilidad por daños consecuentes o incidentales, estas limitaciones pueden no aplicarse a usted.</p>
         <li>Precisión de los materiales</li>
            <p>Los materiales que aparecen en el sitio web de Inverdana A.C. podrían incluir errores técnicos, tipográficos o fotográficos. Inverdana A.C. no garantiza que ninguno de los materiales en su sitio web sea exacto, completo o actual. Inverdana A.C. puede hacer cambios a los materiales contenidos en su sitio web o aplicación móvil en cualquier momento sin previo aviso. Sin embargo, Inverdana A.C. no se compromete a actualizar los materiales.</p>
         <li>Enlaces</li>
            <p>Inverdana A.C. no ha revisado todos los sitios vinculados a su sitio web y no es responsable del contenido de dicho sitio vinculado. La inclusión de cualquier enlace no implica aprobación por parte de Inverdana A.C. del sitio. El uso de cualquier sitio web vinculado es bajo el propio riesgo del usuario.</p>
         <li>Modificaciones</li>
            <p>Inverdana A.C. puede revisar estos términos de servicio para su sitio web y aplicación móvil en cualquier momento sin previo aviso. Al hacer uso de éstos, usted acepta estar sujeto a la versión actual de estos términos de servicio.</p>
         <li>Ley Regidora</li>
            <p>Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes de Querétaro, Qro. y usted se somete irrevocablemente a la jurisdicción exclusiva de los tribunales en ese Estado o ubicación.</p>
     </ol>
</p>
            </div>
        </section>
        <!--================Blog Area =================-->
       {% endblock %}