{% extends 'landingbase.html' %}
{% load static %}
{% block content %}
<section class="home_banner_area" id="home">
    <div class="banner_inner">
<div class="container">
  <div class="row banner_content">
    <div class="col-lg-12">
      <h2>Documentación</h2>
      <p>Revise la información de nuestros endpoints y encuentre la herramienta correcta para sus necesidades.</p>
      <a class="ml-auto banner_btn nav-link nav-item offset" style="color:white; background-color:#4B705F;" href="{% url 'api'  %}">Ver API's</a>

    </div>
    <!--div class="col-lg-3">
      <div class="banner_map_img">
        <img class="img-fluid" src="{% static 'landing/img/banner/right-mobile.png' %}" alt="">
      </div>
    </div-->
  </div>
</div>
    </div>
</section>
{% endblock %}
