{% extends 'landingbase.html' %}
{% load static %}

        {% block content %}
        <!--================Home Banner Area =================-->
        <section class="home_banner_area" id="home">
            <div class="banner_inner">
				<div class="container">
					<div class="row banner_content">
						<div class="col-lg-9">
							<h2>Inverdana</h2>
							<p>La aplicacion que te permite contribuir con el medio ambiente al mismo tiempo que disminuyes tu huella de carbono de una manera particular.</p>
							<a class="ml-auto banner_btn nav-link nav-item offset" href="#download">Descarga</a>
						</div>
						<div class="col-lg-3">
							<div class="banner_map_img">
								<img class="img-fluid" src="{% static 'landing/img/banner/right-mobile.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Characteristics Area =================-->
        <!--section class="feature_area p_120" id="feature">
        	<div class="container">
        		<div class="main_title">
        			<h2>Características</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="{% static 'landing/img/icon/f-icon-1.png' %}" alt="">
        					<h4>Planta arboles</h4>
        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="{% static 'landing/img/icon/f-icon-1.png' %}" alt="">
        					<h4>Disminuye tu huella</h4>
        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="{% static 'landing/img/icon/f-icon-1.png' %}" alt="">
        					<h4>Contribuye</h4>
        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        				</div>
        			</div>
        			<div class="col-lg-3 col-md-6">
        				<div class="feature_item">
        					<img src="{% static 'landing/img/icon/f-icon-1.png' %}" alt="">
        					<h4>Comparte</h4>
        					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section-->
        <!--================End Feature Area =================-->

        <!--================Interior Area =================-->
        <!--section class="interior_area">
        	<div class="container">
        		<div class="interior_inner row">
        			<div class="col-lg-6">
        				<img class="img-fluid" src="{% static 'landing/img/interior-1.png' %}" alt="">
        			</div>
        			<div class="col-lg-5 offset-lg-1">
        				<div class="interior_text">
        					<h4>Creemos en la simplicidad</h4>
        					<p>La aplicación cuenta con un diseño particular, el cual puede ser entendido por cualquier usuario sin importar su edad ni su género. </p>
        					<a class="main_btn" href="#">See Details</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section-->
        <!--================End Interior Area =================-->

        <!--================Interior Area =================-->
        <!--section class="interior_area interior_two">
        	<div class="container">
        		<div class="interior_inner row">
        			<div class="col-lg-5 offset-lg-1">
        				<div class="interior_text">
        					<h4>Comparte tu progreso</h4>
        					<p>La aplicación permite al usuario tener interacción directa con su huella de carbono y compartir eso en redes sociales.</p>
        					<a class="main_btn" href="#">See Details</a>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<img class="img-fluid" src="{% static 'landing/img/interior-2.png' %}" alt="">
        			</div>
        		</div>
        		<div class="video_area" id="video">
        			<img class="img-fluid" src="{% static 'landing/img/video-1.png' %}" alt="">
        			<a class="popup-youtube" href="https://youtu.be/AJ4i01t9tlc">
        				<img src="{% static 'landing/img/icon/video-icon-1.png' %}" alt="">
        			</a>
        		</div>
        	</div>
        </section-->
        <!--================End Interior Area =================-->

        <!--================Feature Area =================-->
        <section class="screenshot_area p_120" id="screen">
        	<div class="container">
        		<div class="main_title">
        			<h2>Capturas</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        		</div>
        		<div class="screenshot_inner owl-carousel">
        			<div class="item">
        				<img src="{% static 'landing/img/feature/feature-1.jpg' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'landing/img/feature/feature-2.jpg' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'landing/img/feature/feature-3.jpg' %}" alt="">
        			</div>
        			<div class="item">
        				<img src="{% static 'landing/img/feature/feature-4.jpg' %}" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->

        <!--================Testimonials Area =================-->
        <!--section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        		</div>
        		<div class="testi_slider owl-carousel">
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="{% static 'landing/img/testimonials/testi-1.png' %}" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<h5>CEO at Google</h5>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="{% static 'landing/img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<h5>CEO at Google</h5>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section-->
        <!--================End Testimonials Area =================-->

        <!--================Download App Area =================-->
        <section class="download_app_area p_120" id="download">
        	<div class="container">
        		<div class="app_inner">
        			<h2>!Descárgala muy pronto!</h2>
        			<p>Nunca está de más tener a otra persona contribuyendo en esta noble tarea, te invitamos a probar la aplicacion y descubrir por tí mismo todo lo que se puede hacer.
                    <br/>Únete a Inverdana</p>
        			<div class="app_btn_area">
        				<div class="app_btn">
        					<div class="media">
								<div class="d-flex">
									<i class="fa fa-apple" aria-hidden="true"></i>
								</div>
								<div class="media-body">
									<a href="#"><h4>Próximamente</h4></a>
									<p>en App Store</p>
								</div>
							</div>
        				</div>
        				<div class="app_btn">
        					<div class="media">
								<div class="d-flex">
									<i class="fa fa-android" aria-hidden="true"></i>
								</div>
								<div class="media-body">
									<a href="#"><h4>Próximamente</h4></a>
									<p>en Play Store</p>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Download App Area =================-->

        <!--================Latest News Area =================-->
        <!--section class="latest_news_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Latest News</h2>
        			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
        		</div>
        		<div class="latest_news_inner row">
        			<div class="col-lg-4">
        				<div class="l_news_item">
        					<a class="date" href="#">10 April, 2018</a>
        					<a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
        					<p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
        					<div class="post_view">
        						<a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
        						<a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
        						<a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="l_news_item">
        					<a class="date" href="#">10 April, 2018</a>
        					<a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
        					<p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
        					<div class="post_view">
        						<a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
        						<a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
        						<a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="l_news_item">
        					<a class="date" href="#">10 April, 2018</a>
        					<a href="#"><h4>Benjamin Franklin Method Of Habit Formation</h4></a>
        					<p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their </p>
        					<div class="post_view">
        						<a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 4.5k Views</a>
        						<a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> 07</a>
        						<a href="#"><i class="fa fa-reply" aria-hidden="true"></i> 362</a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section-->
        <!--================End Latest News Area =================-->
        {% endblock %}