{% load static %}
    <html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'landing/img/favicon.png' %}" type="image/png">
        <title>Inverdana</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'landing/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'landing/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'landing/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'landing/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'landing/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'landing/vendors/animate-css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'landing/vendors/popup/magnific-popup.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'landing/css/responsive.css' %}">
    </head>
    <body>
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="#home"><img src="{% static 'landing/img/logo.png' %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="../">Inicio</a></li>
                                <!--li class="nav-item"><a class="nav-link" href="#feature">Características</a></li-->
                                <!--li class="nav-item"><a class="nav-link" href="#video">Video</a-->
                                <li class="nav-item"><a class="nav-link" href="#screen">Capturas</a>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inverdana</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="/inverdana">Conoce Inverdana</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Fundador</a></li>
									</ul>
								</li>
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="footer-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Inverdana</h6>
                            <ul class="list">
                            	<li><a href="/admin">admin site</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget news_widgets">
                            <h6 class="footer_title">Solicita informacion</h6>
                            <p>Deja tu correo y nos comunicaremos contigo para proporcionarte más informacion</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                    <div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Tu dirección de correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn">Enviar</button>
                                    </div>
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <div class="col-lg-4 col-md-4 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'landing/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'landing/js/popper.js' %}"></script>
        <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'landing/js/stellar.js' %}"></script>
        <script src="{% static 'landing/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'landing/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'landing/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'landing/vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'landing/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'landing/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'landing/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'landing/vendors/counter-up/jquery.counterup.js' %}"></script>
        <script src="{% static 'landing/js/mail-script.js' %}"></script>
        <script src="{% static 'landing/vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'landing/js/theme.js' %}"></script>
    </body>
    </html>